@import url(https://fonts.googleapis.com/css?family=Kanit:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

body {
  background-image: url(./Images/destruction.jpeg);
  background-size: 100%;
  font-family: "Kanit";
}

.wrapper {
  padding-top: 50px;
  /* display: flex;
  flex-direction: column; */
  max-width: 70%;
  margin: 0 auto;
  /* align-items: center; */
}

.app-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(28, 26, 26);
  border-radius: 5px;
  background-color: rgb(28, 26, 26);
  color: white;
  padding: 5px 25px;
}

.intro-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toggle {
  margin-left: 20px;
  background-color: rgb(28, 26, 26);
  padding: 4px;
  border: none;
  font-size: 20px;
}

.toggle:hover {
  margin-left: 20px;
  background-color: rgb(192, 23, 43);
  border: none;
  padding: 4px;
  border-radius: 30px;
  transition: all 0.5s;
  font-size: 20px;
  cursor: pointer;
}

.title-box {
  display: flex;
  align-items: center;
  align-content: space-around;
}

.text-box {
  /* display: flex; */
  /* flex-direction: column; */
}
.generals-box {
  /* background: #ccc;
  overflow: hidden;
  transition: height 200ms; */
}

.title-wrapper {
  display: flex;
  flex-direction: column;
  /* max-width:  */
  align-items: center;
  /* justify-self: center; */
}

.scrolltotop {
  background-color: rgb(192, 23, 43);
  border: none;
  border-radius: 50%;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

.list-button {
  background-color: rgb(192, 23, 43);
  color: white;
  font-family: "Kanit";
  padding: 8px 8px;
  border: 2px solid rgb(192, 23, 43);
  border-radius: 3px;
  font-size: 16px;
  margin-bottom: 20px;
}

.list-button:hover {
  transform: scale(110%);
  transition: all 0.5s;
  cursor: pointer;
}

.links-box {
  position: fixed;
  top: 150px;
  left: 10px;
}

.generals-links {
  display: flex;
  flex-direction: column;
}

.links-box img {
  max-width: 30px;
  min-height: 30px;
  object-fit: cover;
}

.generals-box img {
  max-width: 150px;
  min-height: 200px;
  object-fit: cover;
}

.generals-links {
  border: 1px solid rgb(28, 26, 26);
  border-radius: 5px;
  background-color: rgb(28, 26, 26);
  transition: all 1s;
  transform: translateX(-150%);
}

.generals-links a {
  color: rgb(219, 219, 219);
  text-decoration: none;
  font-size: 12px;
  padding: 3px;
}

.link {
  display: flex;
  align-items: center;
}

.link-name {
  margin-left: 5px;
}

.active {
  transition: all 1s;
  transform: translateX(0%);
}
