.general {
  padding: 60px 0;
}

.click {
  padding: 0px 10px;
}

.generals-links {
  margin: 30px 0px;
}

.generals-links a {
  padding: 5px 5px;
}

.scrolltotop {
  background-color: rgb(192, 23, 43);
  border: none;
  border-radius: 50%;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}
