@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Heebo:100,200,300,regular,500,600,700,800,900);

#root {
  height: 100%;
}

.App {
  height: 100%;
}

html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background: rgb(5, 7, 6);
  background: linear-gradient(
    141deg,
    rgba(5, 7, 6, 1) 6%,
    rgba(62, 90, 83, 1) 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}
