@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Heebo:100,200,300,regular,500,600,700,800,900);

body {
  margin: 0%;
  padding: 0%;
  font-family: "Heebo";
}
.wrapper {
}

.form-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-box__container {
  display: flex;
  flex-direction: column;
  background-color: #71c70f;
  /* clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 80px),
    calc(100% - 80px) 100%,
    0 100%
  ); */
  height: fit-content;
  min-width: 450px;
  padding: 12px 12px;
}

/* .form-box__container .header {
  flex: 20%;
  display: grid;
  place-items: center;
}

.form-box__container .body {
  flex: 60%;
}

.form-box__container .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
} */

/* .form-box__container .form-box__footer button {
  border-radius: 7px;
  width: 100px;
  height: 40px;
  background-color: rgb(255, 0, 140);
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
  margin: 5px;
} */

/* PROGRESS BAR */
.form-box__progressbar {
  width: 400px;
  height: 10px;
  background-color: #6f7675;
  margin-bottom: 50px;
  border-radius: 5px;
}

.form-box__progressbar div {
  width: 33.3%;
  height: 100%;
  background-color: #71c70f;
  border-radius: 5px;
}

.form-wrapper {
}

.height-info {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  height: 100%;
}

.intro-text {
  margin-top: 20px;
  font-size: 25pt;
  font-weight: 700;
  text-align: center;
  font-style: italic;
  color: #1c2d29;
}

.input-label {
  margin-top: 20px;
}

.number-input-box {
  padding: 32px 32px;
}

.number-input {
  border-radius: 0%;
  padding: 4px 8px;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* position: absolute; */
  width: 100%;
  height: 100%;
  background: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid #1c2d29;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

.form-box__footer {
  margin-top: 12px;
  display: flex;
}

.form-box__footer-next-button {
  clip-path: polygon(0% 0%, 100% 0, 100% 69%, 81% 100%, 0% 100%);
  background-color: #71c70f;
  color: #050706;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Heebo";
  font-weight: 600;
  margin-left: 5%;
  margin-top: 3%;
  cursor: pointer;
}

.form-box__footer-prev-button {
  clip-path: polygon(0% 0%, 100% 0, 100% 69%, 81% 100%, 0% 100%);
  transform: rotateY(180deg);
  background-color: #71c70f;
  color: #050706;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Heebo";
  font-weight: 600;
  margin-left: 5%;
  margin-top: 3%;
  cursor: pointer;
}

.form-box__footer-prev-button span {
  display: inline-block;
  transform: rotateY(180deg);
}

input[type="text"] {
}

input[type="number"] {
  font-family: "Heebo";
  font-weight: 500;
  font-size: 12pt;
}

.gender-box {
  display: flex;
  justify-content: space-evenly;
  padding: 50px;
  gap: 20px;
}

.gender-info {
}

.gender-info__title {
  margin-top: 20px;
  font-size: 18pt;
  font-weight: 500;
  text-align: center;
  color: #1c2d29;
}

.male {
}

.male :hover {
  border: 2px solid #1c2d29;
  border-radius: 5px;
  transition: all 0.2s ease;
  cursor: pointer;
}

.male img {
  float: left;
  width: 200px;
  height: 300px;
  object-fit: cover;
  padding: 10px;
}

/* .male-hover img {
  float: left;
  width: 200px;
  height: 300px;
  object-fit: cover;
  padding: 10px;
} */

.female {
}

.female img {
  float: left;
  width: 200px;
  height: 300px;
  object-fit: cover;
  padding: 10px;
}

.female:hover {
  border: 2px solid #1c2d29;
  border-radius: 5px;
  transition: all 0.2s ease;
  cursor: pointer;
}

/* .female img {
  float: left;
  width: 200px;
  height: 300px;
  object-fit: cover;
  padding: 10px;
} */

.clicked {
  border: 8px solid #1c2d29;
  border-radius: 5px;
  padding: 10px;
  transition: all 0.2s ease;
}

.clicked img {
  float: left;
  width: 200px;
  height: 300px;
  object-fit: contain;
  padding: 10px;
}

.bodytype-info__title {
  margin-top: 20px;
  font-size: 18pt;
  font-weight: 500;
  text-align: center;
  color: #1c2d29;
}

.bodytype-box {
  display: flex;
  justify-content: space-evenly;
  padding: 50px;
  gap: 10px;
}

.ectomorph:hover {
  border: 2px solid #1c2d29;
  border-radius: 5px;
  transition: all 0.2s ease;
  cursor: pointer;
}

.ectomorph img {
  float: left;
  width: 200px;
  height: 300px;
  object-fit: contain;
  padding: 10px;
}

.mesomorph:hover {
  border: 2px solid #1c2d29;
  border-radius: 5px;
  transition: all 0.2s ease;
  cursor: pointer;
}

.mesomorph img {
  float: left;
  width: 200px;
  height: 300px;
  object-fit: contain;
  padding: 10px;
}

.endomorph:hover {
  border: 2px solid #1c2d29;
  border-radius: 5px;
  transition: all 0.2s ease;
  cursor: pointer;
}

.endomorph img {
  float: left;
  width: 200px;
  height: 300px;
  object-fit: contain;
  padding: 10px;
}

.aim-info {
}

.aim-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 50px;
  gap: 15px;
}

.aim-info__title {
  margin-top: 20px;
  font-size: 18pt;
  font-weight: 500;
  text-align: center;
  color: #1c2d29;
}

.increase {
  border: 2px solid #1c2d29;
  border-radius: 5px;
  padding: 8px 16px;
}

.keep {
  border: 2px solid #1c2d29;
  border-radius: 5px;
  padding: 8px 16px;
}

.loose {
  border: 2px solid #1c2d29;
  border-radius: 5px;
  padding: 8px 16px;
}

.increase:hover {
  border: 4px solid #1c2d29;
  border-radius: 5px;
  padding: 8px 16px;
  transition: all 0.2s ease;
  cursor: pointer;
}

.keep:hover {
  border: 4px solid #1c2d29;
  border-radius: 5px;
  padding: 8px 16px;
  transition: all 0.2s ease;
  cursor: pointer;
}

.loose:hover {
  border: 4px solid #1c2d29;
  border-radius: 5px;
  padding: 8px 16px;
  transition: all 0.2s ease;
  cursor: pointer;
}

.experience-info {
}

.experience-info__title {
  margin-top: 20px;
  font-size: 18pt;
  font-weight: 500;
  text-align: center;
  color: #1c2d29;
}

.experience-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 50px;
  gap: 15px;
}

.beginner {
  border: 2px solid #1c2d29;
  border-radius: 5px;
  padding: 8px 16px;
}

.beginner:hover {
  border: 4px solid #1c2d29;
  border-radius: 5px;
  padding: 8px 16px;
  transition: all 0.2s ease;
  cursor: pointer;
}

.intermediate {
  border: 2px solid #1c2d29;
  border-radius: 5px;
  padding: 8px 16px;
}

.intermediate:hover {
  border: 4px solid #1c2d29;
  border-radius: 5px;
  padding: 8px 16px;
  transition: all 0.2s ease;
  cursor: pointer;
}

.expert {
  border: 2px solid #1c2d29;
  border-radius: 5px;
  padding: 8px 16px;
}

.expert:hover {
  border: 4px solid #1c2d29;
  border-radius: 5px;
  padding: 8px 16px;
  transition: all 0.2s ease;
  cursor: pointer;
}

.loading-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loading-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading-box__message {
  margin-bottom: 20px;
  font-size: 18pt;
  font-weight: 500;
  text-align: center;
  color: #71c70f;
}
