@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Heebo:100,200,300,regular,500,600,700,800,900);

.wrapper {
  position: relative;
  width: 100%;
}
.left-container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.right-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 0;
}
.left-container {
  left: 0;
  top: 0;

  background: rgb(5, 7, 6);
  background: linear-gradient(
    141deg,
    rgba(5, 7, 6, 1) 6%,
    rgba(62, 90, 83, 1) 100%
  );
}
.right-container {
  clip-path: polygon(84% 0, 100% 0, 100% 100%, 56% 100%);
  right: 0;
  top: 0;
  background-color: greenyellow;
}

.starting-page__logo {
  margin-top: 3%;
  margin-left: 5%;
}

.starting-page__logo img {
  max-width: 20%;
}

.left-container__text {
  font-family: "Heebo";
  font-weight: 800;
  color: white;
  font-size: 40pt;
  letter-spacing: 1px;
  margin-left: 5%;
  margin-top: 10%;
  width: 40%;
}
.sportsman {
  top: 5%;
  bottom: 0;
  left: 60%;
  right: 0;
  position: absolute;
  z-index: 1;
}

.sportsman img {
  max-height: 90vh;
  max-width: 30vw;
}
