@import url(https://fonts.googleapis.com/css?family=Rasa:300,regular,500,600,700,300italic,italic,500italic,600italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);

body {
  background-color: white;
}

.tickets-wrapper {
  display: none;
  margin: 10px 0;
}

.toggled {
  display: flex;
  justify-content: center;
}

/* .tickets-box {
  display: flex;
  flex-direction: row;
} */

.tickets-form {
  display: flex;
  font-size: 16px;
}

.currency-box input {
  min-width: 100px;
}

.currency-box label {
  margin-right: 10px;
}

.origin-box label {
  margin-right: 10px;
}

.origin-box input {
  min-width: 500px;
}

.buttons-box {
  display: flex;
  align-items: flex-start;
  margin-top: 38px;
}

.buttons-box button {
  font-size: 14px;
  margin-bottom: 8px;
  margin-right: 4px;
  border: 1px solid black;
  border-radius: 8px;
  padding: 8px 16px;
}

.buttons-box button:hover {
  font-size: 14px;
  margin-bottom: 8px;
  margin-right: 4px;
  border: 1px solid #f0707a;
  border-radius: 8px;
  padding: 8px 16px;
  transition: all 0.5s;
}

.currency-box {
  margin-right: 20px;
}

.currency-box p {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  margin: 6px 0;
  font-size: 16px;
}

select {
  background-color: white;
  border: thin solid rgb(0, 0, 0);
  border-radius: 10px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;
  width: 100%;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select.currency {
  background-image: linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
}

select.currency:focus {
  background-image: linear-gradient(45deg, #f0707a 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, #f0707a 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
  /* border-color: #f0707a; */
  outline-color: #f0707a;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

.origin-box p {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  margin: 6px 0;
}

#origin {
  background-color: rgb(255, 255, 255);
  border: thin solid black;
  border-radius: 10px;
  margin-right: 20px;
  font-size: 14px;
  color: black;
  line-height: 1.5em;
  padding: 0.65em 3.5em 0.65em 1em;
}

#origin:focus {
  outline-color: #f0707a;
}

.suggestion {
  display: flex;
  border: 1px solid rgb(88, 82, 82);
  border-radius: 10px;
  justify-content: space-between;
  padding: 4px 4px;
  cursor: pointer;
  width: 95%;
  font-style: italic;
  font-weight: 100;
  font-family: "Open Sans";
}

.suggestion:hover {
  color: #f0707a;
  border: 1px solid #f0707a;
}

.not-active {
  display: none;
}

.flight {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 1px 5px;
}

.active {
  display: grid;
}

.flights-top {
  padding: 1px 5px;
  font-style: bold;
  font-weight: 800;
  color: #071f53;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
}

.wrapper {
  padding: 8px 60px;
}

.starter-box {
  display: flex;
}

.starter-box h1 {
  font-family: "Rasa";
  font-size: 78px;
  font-weight: 900;
  color: #071f53;
  margin: 0 0 20px 0;
  line-height: 0.8;
}

.starter-box p {
  font-family: "Rasa";
  font-size: 18px;
  font-weight: 100;
  color: #5a5e66;
  margin: 0 0 20px 0;
}

.travel-image {
  max-width: 650px;
}

.navbar {
  display: flex;
}

.navbar img {
  max-width: 50px;
  margin: 30px 15px 30px 0px;
}

.navbar h2 {
  font-family: "Rasa";
  font-size: 40px;
  font-weight: 700;
  font-style: italic;
  color: #071f53;
  margin-top: 36px;
}

.starter-text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 70px;
}

.starter-image-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle-button {
  border: 1px solid #fb949c;
  border-radius: 10px;
  padding: 8px 20px;
  background-color: #f0707a;
  font-family: "Rasa";
  font-weight: 500;
  font-size: 20px;
  color: #071f53;
}

.toggle-button:hover {
  transition: all 0.5s;
  border: 2px solid #071f53;
}
