/* body { */
/* margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
/* } */

.tickets-box {
  display: none;
}

.toggled {
  display: block;
}

.tickets-form {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.suggestion {
  display: flex;
  border: 1px solid black;
  justify-content: space-between;
  padding: 0 5px;
  cursor: pointer;
}

.not-active {
  display: none;
}
